html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-color: #3498db
} /* just to be sure these are full screen*/

#container {
	display:block;
	background-color: white;
	margin-left:15px;
	border-radius: 5px;
}

#banner {
	background-color: #3498db;
	padding: 3%;
}

li {
	text-align:justify;
}

#slider {
	width:100%;
}

.card-style {
	border-radius: 5px;
	height:100%;
	width:100%;
}

.title {
	color:white;
	vertical-align: middle !important;
}

.background-color {
	background-color: #3498db;
}

.color-white {
	color:white !important;
}

.no-margin-top {
	margin-top:0px !important;
}

.uk-form-label {
	font-size:16px !important;
}

.full-height {
	height:100%
}

.transform-up {
	transform: scale(1.17);
}


.transform-down {
	transform: scale(0.85);
}

.uk-dotnav>.uk-active>* {
	background-color: white !important;
	border-color: transparent;
}

.uk-dotnav>*>* {
	background-color: transparent;
	border-color: white !important;
}

.uk-button-large {
	font-size:18px !important;
}
